@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  /* 1 rem = 16 px  */
  font-size: 50%;
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
	margin: 0;
}

h1 {
  font-size: 4.883rem;
  line-height: 5.86rem;
}

h2 {
  font-size: 3.906rem;
  line-height: 4.69rem;
}

h3 {
  font-size: 3.125rem;
  line-height: 3.75rem;
}

h4 {
  font-size: 2.5rem;
  line-height: 3.0rem;
}

h5 {
  font-size: 2.0rem;
  line-height: 2.4rem;
}

.btn {
  display: inline-block;
}

.btn-black {
  background-color: black;
  color: white;
}
